body{
    background-color: #000;
}
.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 20px;
}
.main-title{
    font-size: 100px;
    text-align: center;
    color: #C0392B;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
}
.item {
    width: 240px;
    margin-bottom: 20px;
    padding: 20px;
    background-image: linear-gradient(to right top, #171e20, #1a282f, 
    #1f3341, #2a3c52, #3c4463);
    border-radius: 10px;
}
.item:hover{
    transform: scale(1.1);
}
.title {
    text-align: center;
    font-size: 25px;
    color: #fff;
}
.year_text {
    font-size: 20px;
    color: #fff;
}
.year_span{
    margin-left: 10px;
    color: #797D7F ;
}

.actor_text {
    font-size: 20px;
    margin: 0px;
    color: #fff;
}
.actor_span{
    color: #88dbaa;
}
.genres_text{
    font-size: 20px;
    color: #fff;
}
.genres_span {
    color: #717D7E;
}